*{
    margin: 0;
    padding: 0;
    }
    
    html {
        /* To make use of full height of page*/
        min-height: 100%;
        margin: 0;
    }
    
    body{
        min-height: 100%;
        background-color: black;
        color: chartreuse;
    }
    
    .grid-item1{
      display: flex;
      flex-direction: column;
      align-items: center;
    
      margin: 10%;
    }

    h1{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: chartreuse;
    }

    h2{
      color: chartreuse;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin: 60px;
      text-align: center;
    }

    .grid-item2{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #zoeken{
      margin-top: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: chartreuse;
      border: none;
      color: black;
      padding: 13px;
      text-align: center;
      font-style: oblique;

    }
    
    @media only screen and (max-width: 350px) {
      h1, h2{
        color: #FCF340;
      }

      #zoeken{
        background-color: #FCF340;
      }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 1365px) {
      h1, h2{
        color: #FB33DB;
      }

      #zoeken{
        background-color: #FB33DB;
      }
    }
    
    @media only screen and (min-width: 1366px) and (max-width: 2800px) {
      h1, h2{
        color: #01FFFF;
      }

      #zoeken{
        background-color: #01FFFF;
      }
    }
    
     
     