*{
    margin: 0;
    padding: 0;
    }
    
    html {
        /* To make use of full height of page*/
        min-height: 100%;
        margin: 0;
    }
    
    
    body{
        min-height: 100%;
        background-color: black;
    
    }
    
    .grid-item1{
      display: flex;
      flex-direction: column;
      align-items: center;
    
      margin: 10%;
    
    }

    h1{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: chartreuse;
  
    }

    h2, h3{
      color: white;
    }
    
    @media only screen and (max-width: 350px) {
      p{
          font-size: 2.5em; /*De tekst in de paragraphs moet per device meeschalen qua grootte*/
      }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 1365px) {
      p{
    
          font-size: 4.5em;
      }
    
      .clock {
          font-size: 5em; /*De size van de clock moet per device meeschalen qua grootte*/
    
      }
    
      .bliksemStart, .bliksemMid , .bliksemEind{
        border-width: 3px;
      }
    }
    
    @media only screen and (min-width: 1366px) and (max-width: 2800px) {
      body{
    
        background-size: cover;
        background-position: bottom; 
    
    }
    
      p{
    
          font-size: 5em;
      }
    
      .clock {
          font-size: 7em;
    
      }
      .bliksemStart, .bliksemMid , .bliksemEind{
        border-width: 4px;
      }
    
    
    
    }
    